<!--Descriptive page name, messages and instructions--><h2><%=h ts("Support Board Admin Page") %></h2>
<!--/descriptions-->
<!--subnav-->
<ul class="navigation" role="navigation">
  <li><%= link_to "Manage roles", admin_users_path(:role=> "support_staffer") %></li>
</ul>
<!--/subnav-->

<!--main content-->
<!--/content-->
